<html>
<head>
  <title>Movie Selection Page</title>
  <link href="movie.scss" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!--  <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
-->
</head>

<body>
  <form>
    <%= form_tag("movie/search", method: "get") do %>
    <%= label_tag( "movie_title", "Enter Movie Title") %>
    <%= text_field_tag("movie_title") %>
    <%= submit_tag("Click Here") %>
    <% end %>
  </form>

  <div>

    <h1 class = pos_left> <%= @title %> (<%= @year %>)</h1>
<h5 class = pos_left><a href="http://www.rottentomatoes.com">Visit RottenTomatoes.com</a></h5>

    <img class = pos_right src="<%= @posters_profile %>"
    alt="Profile Poster" style="width:280px;height:295px;border:0" >
      <dt> <h4 class = pos_top_scroll ><%= @synopsis %></h4> </dt>


  </div>

  <h2 class = pos_left> This movie is rated  </h2> <h2 class = pos_line_rating> <%= @mpaa_rating %> </h2>
  <h3 class = pos_left> Lenghth of movie is </h3> <h3 class = pos_line_runtime> <%= @runtime %> minutes </h3>

<!--  <h3> Movie critics_consensus: <%= @critics_consensus %> </h3> -->


  <h3 class = pos_left> Theater relese date is <%= @release_dates_theater %> </h3>
  <h3 class = pos_left> DVD release date is <%= @release_dates_dvd %> </h3>

</body>
